package widgets

templ HUD(Balance, Income string) {
<div class="hud" id="hud">
    <div class="hud-balance">
        💰 {Balance} угля
    </div>

    <div class="hud-income">
        ⛏ +{Income}/сек
    </div>
</div>
}