package components

templ Title(title string, size string, color string) {
    @TitleStyle(size, color)
    <h1 class="title" style={"font-size:"+size+"; color:"+color}>
    {title}
    </h1>
}

templ TitleStyle(size string, color string) {
    <style>
        .title{

            font-weight: bold;
            margin-bottom: 12px;
            margin-top: 0px;

        }
    </style>
}